<!DOCTYPE html >
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Assembled
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121231

-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assembled/default.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="/">Prófasetrið</a></h1>
        </div>
    </div>
    <!-- end #header -->
    <div id="menu">
        <nav>
            <li> <a class="current_page_item" href="/">Heim</a></li>
            <li> <a href="/accounts/login/">Login</a></li>
            <li> <a href="/accounts/logout/">Logout</a></li>
            <li> <a href="/createExam">Create Exam</a></li>
            <li> <a class="last" href="/examResults/{{ user.id }}">Exam result</a></li>

        </nav>
    </div>
    <div id="banner"></div>
    <div id="three-columns">
        <div class="content">
            <div id="column1">
            </div>


            <div id="content">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>
    <div id="footer">
        <p>Copyright (c) 2012 Prófasíðan.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>  + <a href="http://iconify.it/">Iconify.it</a></p>
    </div>

</div>
</body>
</html>

