{% extends "base.html" %}
{% block content %}

    <p>notandi :{{ request.user }}</p>

    <form action="createExam/post_exam" method="POST" >
        <label>Titill</label></br>
        <input type="text" name="createExam"/></br>
        <label>Skilafrestur</label></br>
        <input type="text" name="date" id="datepicker" /></br>
        <input type="submit" value="Búa til nýtt próf!"/>

    </form>

  <script type="text/javascript" >
      $("#datepicker").datepicker();
      $("#datepicker").datepicker( "option", "dateFormat", "yy-mm-dd");
  </script>

{% endblock %}