{% extends "base.html" %}
{% block content %}

    <title>Prófasíða</title>

    <h2>{{ exam.title }}</h2>


    {% block list-style2 %}


        <title>{{ exam.title }}</title>


        <form action="">
        <ul class="list-style2">
            <li>{{ exam.title }}</li>
                {% for x in question %}
                        <li>{{ x.title }}</li>
                             {% for c in x.choice_set.all %}
                                 <input type="radio" name="choice" value="{{ c.id }}"> {{ c.text }}<br>
                             {% endfor %}
                {% endfor %}
        </ul>

            <p><a href="#" class="link-style">Skila prófi ehhhhh</a></p>
        </form>
    {% endblock %}
{% endblock %}