{% extends "base.html" %}
{% block content %}

{#        <link rel="stylesheet" type="text/css" href="/assembled/default.css" />#}
        <title>Prófasíða</title>


    
        <title>{{ exam.title }}</title>

        <form action="">
            <input type="radio" name="sex" value="male">Male<br>
            <input type="radio" name="sex" value="female">Female


        <h2>{{ exam.title }}</h2>
        {% block list-style2 %}
        <ul class="list-style2">
            <li>{{ exam.title }}</li>
                {% for x in question %}
                        <li>{{ x.title }}</li>
                             {% for c in x.choice_set.all %}
                                 <input type="radio"> {{ c.text }}<br>
                            {% endfor %}
                {% endfor %}
            </ul>
            <p><a href="#" class="link-style">Skila prófi ehhhhh</a></p>
        {% endblock %}
{#            {% block link-style %}#}

{#            {% endblock %}#}
        </form>

{% endblock %}